p {
}

img{
	width: 75%;
}

h2 {
    page-break-before: always;
}

/* style tables to look more LaTex-like
and take up less space
*/

pre {
    font-size: xx-small;
}

table {
    table-layout: fixed;
}

pre th {
    display: none;
    /* default formatting would be
    color: white;
    background: #25537b;
    */
}

pre th, td {
    font-size: xx-small;
    padding: 0.3rem;
    white-space: pre-wrap;
    width: 25px;
}

pre tr:nth-child(2) td {
    height: 50px;
    vertical-align: bottom;
    transform-origin: bottom left;
    transform: translateX(20px) rotate(-45deg);
}

